@import url('https://fonts.googleapis.com/css?family=Arvo:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
@import '../styles/global';

body,
html,
#root {
  font-family: $font-body;
  color: $text-color;
  background-color: $background-color;
  font-size: $font-size-regular;
  font-weight: 400;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.1rem;
}

h1 {
  letter-spacing: 0.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  max-width: 600px;
}
